
@media (max-width: 930px) {
	
	.loc-info li{
       font-size: 1.8vw!important;
    }
	.weather-info-list li{
		font-size: 1.8vw!important;
	 }
	 .loc-info-title{
		font-size: 2vw!important;
	 }
	 .weather-info-title{
		font-size: 2vw!important;
	 }
	 .search-box-container{
		padding: 20px 30px!important;
	 }
}



@media (max-width: 1200px) {
	.container{
		padding: 0!important;
	}

	.weather-info-container {
		width: 100% !important;
	}
	.loc-info-title {
		margin: 0 !important;
		width: 100%!important;
	}
    .loc-info{
        display: flex;
        flex-wrap: wrap;
    }
    .loc-info li{
        width: 45%;
       margin: 0 10px;
    }
	.weather-info {
		display: flex;
		width: 100%;
		
	}
	.main-info-wrapper {
		display: flex;
		height: 40%!important;
        position: absolute;
        bottom: 10rem;
        left: 0;
        flex-wrap: wrap;
  
	}
	.location-info-list-container {
        width: 100%;
	 	padding: 0 2rem;
	}
	.weather-info-list-container {
        width: 100%;
		padding: 0 2rem;
	}
	.weather-info-list{
        display: flex;
        flex-wrap: wrap;
    }
    .weather-info-list li{
        width: 45%;
       margin: 0 10px;
    }

	.weather-info-title {
		margin: 0 !important;
	}
	.general-info {
		flex-wrap: wrap;
		top: 0;
		left: 30% !important;
		height: 200px;
	}
}
