@media (max-width: 500px){
	.loc-info li{

		width: 100%!important;
	 }
	 .weather-info-list li{
		
		 width: 100%!important;
	  }
	  .general-temp{
		font-size: 4rem!important;
		
	}
	.general-loc{
		font-size: 2.7rem!important;
	}
	.general-icon img{
		width: 100px!important;
		height: 100px!important;
	}
	.modal-container h4{
		font-size: 1rem!important;
	}
	.modal{
		padding: 1rem!important;
	}
	
	.modal input{
		width: 100%!important;
		border-radius: 5px!important;
	}
	.modal button[type = submit]{
		width: 50%!important;
		border: 0;
		box-shadow: 1px 1px 4px black;
		border-radius: 5px!important;
		}
}


@media (max-width: 930px) {
	
	.loc-info li{
       font-size: 1.8vw;
    }
	.weather-info-list li{
		font-size: 1.8vw;
	 }
	 .loc-info-title{
		font-size: 2vw;
	 }
	 .weather-info-title{
		font-size: 2vw;
	 }
	 .search-box-container{
		padding: 20px 30px!important;
	 }
}



@media (max-width: 1200px) {
	.container{
		padding: 0!important;
	}

	.weather-info-container {
		width: 100% !important;
	}
	.loc-info-title {
		margin: 0 !important;
		width: 100%!important;
	}
    .loc-info{
        display: flex;
        flex-wrap: wrap;
    }
    .loc-info li{
        width: 45%;
       margin: 0 10px;
    }
	.weather-info {
		display: flex;
		width: 100%;
		
	}
	.main-info-wrapper {
		display: flex;
		height: 40%!important;
        position: absolute;
        bottom: 10rem;
        left: 0;
        flex-wrap: wrap;
  
	}
	.location-info-list-container {
        width: 100%;
	 	padding: 0 2rem;
	}
	.weather-info-list-container {
        width: 100%;
		padding: 0 2rem;
	}
	.weather-info-list{
        display: flex;
        flex-wrap: wrap;
    }
    .weather-info-list li{
        width: 45%;
       margin: 0 10px;
    }

	.weather-info-title {
		margin: 0 !important;
	}
	.general-info {
		top: 4rem;
		left: 50%!important ;
		transform: translateX(-50%);
		height: 200px;
		
	}
}
